*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: hsl(30, 38%, 92%);
	font-family: 'Montserrat';
}
/*The Container*/
.container{
	margin: 0 auto;
	width: 95%;
	padding: 20px;
}

/*Card Body Container*/
.card-body{
	margin: 60px auto;
	width: 530px;
	border-radius: 10px;
	display: flex;
	box-shadow: 0 5px 6px 4px rgba(0, 0, 0, 0.1);
	
}

/*Image Section*/

.image-card{
	flex-basis: 50%;
}
.image-card img{
	width: 100%;
	height: 100%;
	border-radius: 7px 0px 0px 7px;
}

/*Texts Section*/

.text-part{
	background: hsl(0, 0%, 100%);
	padding: 35px;
	flex-basis: 50%;
	border-radius: 0px 7px 7px 0px;

}
.text-part h3{
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 10px;
	letter-spacing: 5px;
	opacity: .5;
	font-family: 'arial';
	font-size: 14px;
}
.text-part h1{
	margin-bottom: 20px;
	font-family: 'Montserrat';
	font-weight: 700;
}
.text-part p{
	margin-bottom: 25px;
	font-family: 'arial';
	font-weight: 400;
	font-size: 14px;
	opacity: .7;
	line-height: 25px;
	letter-spacing: 1px;
	
}

/*Price Section*/

.price{
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	font-family: 'arial';
}
.price h2{
	color: hsl(158, 36%, 37%);
	font-weight: bold;
	font-size: 30px;


}
.price s{
	font-size: 14px;
	opacity: .8;
}

/*Bottom Section*/
.btn {
	display: block;
	width: 100%;
	border-radius: 5px;
	background:hsl(158, 36%, 37%);
	padding: 10px 20px;
	cursor: pointer;
	outline: none;
	border: 0px;
	color: hsl(0, 0%, 100%);
	text-align: center;
	font-weight: 500;
}
.btn svg{
	margin-right: 10px;

}
.btn:hover{
	background:  hsl(228, 12%, 48%);
}
/*Footer Section*/

.attribution { 
	font-size: 15px; 
	text-align: center; 
     margin: 10px;
}
.attribution a { 
	color: hsl(228, 45%, 44%); 
}

/*Media Query Section*/

@media(max-width: 565px){
	.card-body{
		width: 100%;
		display: flex;
		flex-direction: column;
		
	}
	.image-card img{
		width: 100%;
		height: 100%;
		border-radius: 7px 7px 0px 0px;
		margin-bottom: 0px;
	}
	.text-part{
		border-radius: 0px 0px 7px 7px;

	}
}